.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.933594;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.903409;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.928955;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.689453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.835449;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc2{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc1{text-shadow:-0.015em 0 rgb(255,0,0),0 0.015em rgb(255,0,0),0.015em 0 rgb(255,0,0),0 -0.015em  rgb(255,0,0);}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc2{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(255,0,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.304000px;}
._1{width:2.632000px;}
._4{width:3.864000px;}
._3{width:7.308000px;}
._2{width:843.616000px;}
._5{width:1990.688000px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,0,0);}
.fs2{font-size:80.000000px;}
.fs0{font-size:96.000000px;}
.fs1{font-size:112.000000px;}
.fs3{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.y1c{bottom:72.509872px;}
.y11{bottom:83.651627px;}
.yb{bottom:86.963623px;}
.y5{bottom:102.466827px;}
.y1b{bottom:112.186081px;}
.ya{bottom:117.203613px;}
.y10{bottom:123.891617px;}
.y4{bottom:142.706818px;}
.yf{bottom:164.131607px;}
.y16{bottom:208.817581px;}
.y15{bottom:245.058746px;}
.y20{bottom:262.173218px;}
.y1f{bottom:296.733215px;}
.y1a{bottom:313.949890px;}
.y9{bottom:318.403610px;}
.y1e{bottom:331.293213px;}
.y3{bottom:343.906815px;}
.y19{bottom:354.189888px;}
.y8{bottom:358.643608px;}
.ye{bottom:365.331612px;}
.y14{bottom:369.777596px;}
.y2{bottom:384.146812px;}
.y18{bottom:394.429893px;}
.y7{bottom:398.883614px;}
.yd{bottom:405.571617px;}
.y13{bottom:410.017601px;}
.y1d{bottom:413.099911px;}
.y1{bottom:424.386818px;}
.y17{bottom:434.669893px;}
.y6{bottom:439.123613px;}
.yc{bottom:445.811617px;}
.y12{bottom:450.257601px;}
.h7{height:76.179688px;}
.h2{height:76.835938px;}
.h3{height:76.875000px;}
.h1{height:78.000000px;}
.h9{height:87.812500px;}
.h6{height:88.593750px;}
.h5{height:89.687500px;}
.h4{height:91.000000px;}
.h8{height:104.000000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xc{left:49.618576px;}
.x4{left:59.324982px;}
.xa{left:60.581421px;}
.x7{left:62.075043px;}
.x1{left:66.939148px;}
.x8{left:73.200012px;}
.x9{left:145.200012px;}
.x5{left:347.324982px;}
.x2{left:354.939148px;}
.x6{left:419.324982px;}
.x3{left:426.939148px;}
.xb{left:492.581421px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:1.738667pt;}
._1{width:3.509333pt;}
._4{width:5.152000pt;}
._3{width:9.744000pt;}
._2{width:1124.821333pt;}
._5{width:2654.250667pt;}
.fs2{font-size:106.666667pt;}
.fs0{font-size:128.000000pt;}
.fs1{font-size:149.333333pt;}
.fs3{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.y1c{bottom:96.679830pt;}
.y11{bottom:111.535502pt;}
.yb{bottom:115.951497pt;}
.y5{bottom:136.622437pt;}
.y1b{bottom:149.581441pt;}
.ya{bottom:156.271484pt;}
.y10{bottom:165.188822pt;}
.y4{bottom:190.275757pt;}
.yf{bottom:218.842143pt;}
.y16{bottom:278.423442pt;}
.y15{bottom:326.744995pt;}
.y20{bottom:349.564290pt;}
.y1f{bottom:395.644287pt;}
.y1a{bottom:418.599854pt;}
.y9{bottom:424.538147pt;}
.y1e{bottom:441.724284pt;}
.y3{bottom:458.542419pt;}
.y19{bottom:472.253184pt;}
.y8{bottom:478.191477pt;}
.ye{bottom:487.108816pt;}
.y14{bottom:493.036794pt;}
.y2{bottom:512.195750pt;}
.y18{bottom:525.906525pt;}
.y7{bottom:531.844818pt;}
.yd{bottom:540.762156pt;}
.y13{bottom:546.690135pt;}
.y1d{bottom:550.799881pt;}
.y1{bottom:565.849091pt;}
.y17{bottom:579.559858pt;}
.y6{bottom:585.498151pt;}
.yc{bottom:594.415489pt;}
.y12{bottom:600.343468pt;}
.h7{height:101.572917pt;}
.h2{height:102.447917pt;}
.h3{height:102.500000pt;}
.h1{height:104.000000pt;}
.h9{height:117.083333pt;}
.h6{height:118.125000pt;}
.h5{height:119.583333pt;}
.h4{height:121.333333pt;}
.h8{height:138.666667pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xc{left:66.158101pt;}
.x4{left:79.099976pt;}
.xa{left:80.775228pt;}
.x7{left:82.766724pt;}
.x1{left:89.252197pt;}
.x8{left:97.600016pt;}
.x9{left:193.600016pt;}
.x5{left:463.099976pt;}
.x2{left:473.252197pt;}
.x6{left:559.099976pt;}
.x3{left:569.252197pt;}
.xb{left:656.775228pt;}
}
